*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
}
nav{
    text-align: center;
    background-color: #f4f4f4;
    padding: 10px;
    word-spacing: 10px;
    border-bottom: 1px solid #c5c5c5;
}
nav a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
.main-container{
    display: flex;
}
.sidebar{
    width: 20%;
    background-color: #eee;
    padding: 15px;
}
.sidebar ul{
    list-style: none;
    line-height: 40px;
}
.sidebar ul li{
    border-bottom: 1px dotted #b5b5b5;
}
.content{
    flex-grow: 1;
    padding: 20px;
    background-color: white;
}
.images{
    display: flex;
    gap: 15px;
    margin: 15px 0;
    padding: 15px;
}
.images img{
    width: 32%;
    height: auto;
}
footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
h3{
    margin: 15px;
}
h2{
    margin-top: 20px;
}
.content ul{
    margin-left: 60px;
}
p{
    margin-top: 5px;
    margin-bottom: 5px;
}
